.product-card{
    width: 500px;
    background: #d2d2d2;
}
h3{
    margin: 0;
}
.product-title{
    width: 100%;
    color: blue;
    background: darkgray;
    text-align: center;
}
.product-image{
    padding: 0;
    width: 200px;
    margin: 20px 150px ;
}